# Libraries
node_modules/

# Generated static files
public/

# Editor config files
.idea

# Deploy cache files
.deploy*/

# Cache files
db.json
package-lock.json
yarn.lock
.DS_Store
Thumbs.db

# Others
*.log
_multiconfig.yml